.term {
  margin: 9%;

  .term-title {
    width: 24.5px;
    height: 7.5px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #999999;
}

.term-data {
    width: 18px;
    height: 7.5px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #000000;
    margin-left: 10px;
}
}

